{% extends 'base.html.twig' %}

{% block title %}Poste poste formulaire
{% endblock %}

{% block body %}
	   <!-- page-wrapper Start-->
    <div class="page-wrapper">
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
       
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
    
      <div class="card">
      {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

        <div class="job-search">
          <div class="card-body pb-0">
            <div class="media"><img class="" src="https://myn2a.online/wp-content/uploads/2023/04/plateforme_defaut-300x138.jpg" alt="" with="80" height="70">
              <div class="media-body">
                <h6 class="f-w-600"><a href=""></a><span class="pull-right">
                    <a href="https://myn2a.online/index.php/nous-recrutons/" class="btn btn-primary mt-4" type="button"><span><i class="fa fa-check text-white"></i></span> Liste des postes</a></span></h6>
       
              </div>
            </div>
            <div class="job-description ">
              <h6 class="mb-0 text-center">Veuillez renseigner tous les champs</h6>
               {{ form_start(form, {'attr': {'class': 'form theme-form'}}) }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="{{ form.titre.vars.id }}">Titre:<span class="font-danger">*</span></label>
                        {{ form_widget(form.titre) }}
                    </div>
                </div>
                <!-- Repeat for other fields -->
            </div>
            <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.nom.vars.id }}">Nom:<span class="font-danger">*</span></label>
                        {{ form_widget(form.nom) }}
                      </div>
                    </div>
                  
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.prenom.vars.id }}">Prénom:<span class="font-danger">*</span></label>
                        {{ form_widget(form.prenom) }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                      <label for="{{ form.email.vars.id }}">Email:<span class="font-danger">*</span></label>
                        {{ form_widget(form.email) }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                      <label for="{{ form.sexe.vars.id }}">Sexe:<span class="font-danger">*</span></label>
                        {{ form_widget(form.sexe) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                      <label for="{{ form.phone.vars.id }}">Numéro de téléphone:<span class="font-danger">*</span></label>
                        {{ form_widget(form.phone) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.lettreMotivation.vars.id }}">Votre lettre de Motivation:<span class="font-danger">*</span></label>
                        {{ form_widget(form.lettreMotivation) }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.cv.vars.id }}">Votre CV:<span class="font-danger">*</span></label>
                        {{ form_widget(form.cv) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.photoIdentite.vars.id }}">Votre photo d'identité:<span class="font-danger">*</span></label>
                        {{ form_widget(form.photoIdentite) }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="{{ form.photoComplete.vars.id }}">Votre photo Complète:<span class="font-danger">*</span></label>
                        {{ form_widget(form.photoComplete) }}
                      </div>
                    </div>
                  </div>

                  

                  
            <div class="card-footer">
              {{ form_widget(form.submit) }}

            </div>
        {{ form_end(form) }}
         
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

        <!-- footer start-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <p class="mb-0">Copyright 2019 © MyNet2All All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
      </div>
    </div>
  </div>
</footer>
<!-- footer end-->      
</div>
      <!-- Page Body End-->
</div>
{% endblock %}

